
.nav-pills .nav-link.active{
    background: rgba( 0, 0, 0, 0.2 ) !important;
    backdrop-filter: blur( 10px ) !important;
    -webkit-backdrop-filter: blur( 10px ) !important;
    border: 1px solid rgba( 209, 255, 255, 0.18 ) !important;
    color: white !important;
    box-shadow: 0 0 8px #CAA257;
  }

.btn-close{
    background-color: white !important;
}
.modal{
    background: rgba(0,0,0,0.2) !important;
    backdrop-filter: blur(6px) !important;
    -webkit-backdrop-filter: blur(6px) !important;
}

@media (min-width: 768px) {
    .details-container {
        border-left: 2px solid rgba(225,225,225,0.25) !important;
    }
}
@media (max-width: 700px) {
    .image-uploader {
        margin-top: 2rem !important;
    }
}

