
.react-player__shadow{
  background: rgba(255, 255, 255, 0.2) !important;
  border: 2px solid #fff;
  z-index: 100 !important;
  transform: scale(1.05) ;
  border-radius: 3.5rem !important;
}

.react-player__play-icon{
  z-index: 100 !important;
  border-color: transparent transparent transparent #fff !important;
  
}

@media (max-width: 500px) {
  .react-player__shadow{
    
    transform: scale(0.5) ;
  }
}

.thumbnail-poster{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 99;
}

/* .video-thumbnail-img{
  width: 100%;
  height: 100%;
  
}
.video-thumbnail{
  position: relative;
}

.video-thumbnail::before{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: radial-gradient(circle, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1));
z-index: 101;
pointer-events: none;
} */
  
.video-container {
    position: relative;
    max-height: calc(100vh - 60px);
    width: 100%;
    aspect-ratio: 16/9;
    padding: 0 1rem; 
    background-color: black;
    overflow: hidden;
  }
  
 .loading-indicator{
   width: 100%;
   height: 100%;
   display: grid;
   place-items: center;
 }

  .paused .player-controls{
    visibility: visible;
    opacity: 1;
  }


  .show-controls .player-controls
{
  visibility: visible;
  opacity: 1;
  /* transform: translateY(0%); */
}

  .video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

  }
  
  .player-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    /* transform: translateY(100%); */
    opacity: 0;
    visibility: hidden;
   
  }
  
  .fullscreen-controls {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px; 
    opacity: 0;
    visibility: hidden;
  }

  /* .progress-bar{
    position: absolute;
    bottom: 100%;
    width: 99%;
    
  } */
 


  .player-controls button {
    margin: 0 5px;
    color: white;
    background-color: transparent ;
    border: none;
    cursor: pointer;
    transform: scale(1.05);
  }
  
  .player-controls button:hover,.player-controls button.active {
    outline: none;
    background-color: #CAA257 !important;
  }
  

  


  /*--------*/

  .settings-wrapper {
    position: absolute;
    top: -15px; 
    right: 10px; 
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 200px; 
    overflow: hidden;
    transition: all 0.3s ease;
    transform: translateY(0%);
    opacity: 0;
    visibility: hidden;
  }
  
  .settings-wrapper.show {
    transform: translateY(-100%);
    visibility: visible;
    opacity: 1;

  }
  
  .settings-menu {
    padding: 10px;
    transition: all 0.3s ease;
  }
  
  .menu-header {
    display: flex;
    align-items: center;
  }
  
  .back-icon {
    margin-right: 10px;
    cursor: pointer;
  }
  
  .menu-title {
    font-weight: bold;
  }
  
  .menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0 0;
  }
  
  .menu-items li {
    cursor: pointer;
    padding: 0.3rem;
  }
  .menu-items li:hover {
    background-color: rgba(255,255,255,0.5);
  }

  .menu-items li.active {
    background-color: rgba(255,255,255,0.8);
    color: #000;
  }
  
  .settings-button {
   
    transform: rotate(0deg);
    transition: all 0.5s ease;
}

.quality{
      margin-left: auto !important;

  }

  .settings-button.active svg{
    transform: rotate(90deg);
   
  }
  




  /*progress bar*/

  .progress-bar-wrapper {
    position: absolute;
    bottom: 100%;
    width: 99%;
    height: 20px; 
    margin-top: 10px; 
    display: flex;
    align-items: center;
  }
  
  

  .track-range {
    -webkit-appearance: none;
    appearance: none; 
    width: 100%;
    outline: none;
    border-radius: 15px;
    height: 4px;
    background: rgba(255, 255, 255, 0.2) ;
    transition: height  ease-in-out 0.3s;
 
}
  
  .track-range:hover{
     height: 6px;
  }
  .track-range:hover::-webkit-slider-thumb{
     visibility: visible;
  }
 .track-range:hover::-moz-range-thumb{
     visibility: visible;
  }

  .track-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: 15px;
    width: 15px;
    cursor: pointer;
    background-color: #CAA257;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: .2s ease-in-out;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    visibility: hidden;
    transition: visibility 0.3s ease-out 0s;
    
  }
  
  .track-range::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: #CAA257;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #fff;
    transition: .2s ease-in-out;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    visibility: hidden;
    transition: visibility 0.3s ease-out 0s;
    
  }
  
  .track-range::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 10px rgba(255,85,0, .1)
  }
  .track-range:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(255,85,0, .2)
  }
  .track-range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(255,85,0, .2)
  }
  
  .track-range::-moz-range-thumb:hover {
    box-shadow: 0 0 0 10px rgba(255,85,0, .1)
  }
  .track-range:active::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(255,85,0, .2)
  }
  .track-range:focus::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(255,85,0, .2)    
  }
  
 
/*volume track*/

.volume-wrapper:hover .volume-track{
   width:100px
}



.volume-track:hover::-webkit-slider-thumb {
    visibility: visible;
  }
  
  .volume-track:hover::-moz-range-thumb {
    visibility: visible;
  }
  

.volume-track {
    -webkit-appearance: none;
    appearance: none; 
   background: rgba(255,255,255,0.8);
    width: 0;
    margin: 0 0.5rem;
    outline: none;
    border-radius: 10px;
    height: 5px;
    /* background: rgba(255, 255, 255, 0.1) !important; */
    transition: width 0.3s ease-out 0s;

}
  

  .volume-track::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background-color: #CAA257;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    visibility: hidden;
    transition: visibility 0.3s ease-out 0s;

}
  
  .volume-track::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background-color: #CAA257;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    visibility: hidden;
    transition: visibility 0.3s ease-out 0s;

  }
  
 
  

  


/* 
  .progress-bar input[type="range"] {
    width: 100%;
    height: 0.3rem;
    -webkit-appearance: none;
    background: green;

  }
  .progress-bar input[type="range"]::-webkit-slider-thumb {

      
      -webkit-appearance: none;
      appearance: none;
      background: red;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      border: 0.2rem solid white;

  }

  .progress-bar input[type="range"]::-webkit-slider-runnable-track{
    color: white;
  } */
 
.progress-bar-wrapper{
    z-index: 2;
}
  .progress-bar-wrapper:hover .tooltip-progress {
    visibility: visible;
  }
  
  
  /* Tooltip */
  .tooltip-progress {
    position: absolute;
    bottom: 10%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px ;
    border-radius: 5px;
    pointer-events: none;
    white-space: nowrap;
    transform: translateX(-50%);
    /* visibility: visible; */
    /* transition: visibility 0s linear 0.5s; */
  }
  
  /* Hide tooltip when not hovered */
  .progress-bar-wrapper:not(:hover) .tooltip-progress {
    visibility: hidden;
  }
  
  
  
  @media (max-width: 630px) {

    .settings-wrapper {
      position: fixed;
      width: 90%;
      bottom: 10px;
      right: 5%;
      top: unset;
      background-color: rgba(0, 0, 0, 0.9);
      transform: translateY(150%);
      opacity: 0;
      visibility: hidden;
      z-index: 9999;
    }


    .settings-wrapper.show {
    transform: unset;
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);

  
  }

  /* .fullscreen-controls .menu-items {
    padding: 0;
    margin: 3px 0;
  }
  .fullscreen-controls .menu-items li {
    padding: 0.4rem;
  } */

  }

  @media (max-width: 380px) {

    .player-controls button {
      margin: 0 2px;
      padding: 1px 6px; 
      transform: scale(1);
    }
  }


  @media (min-width: 1800px){
    .thumbnail-container::before{
      content: '';
      pointer-events: none;
      position: absolute;
      width: 100%;
      height: 100%;
      top:0;
      left:0;
      background: linear-gradient(
        to right,
        black 0px, 
        black calc((100vw - 1700px) / 2), 
        rgba(0, 0, 0, 0.9) calc((100vw - 1700px) / 2),
        rgba(0, 0, 0, 0) calc((100vw - 1700px) / 2 + 100px), 
        transparent calc((100vw - 1700px) / 2 + 100px), 
        transparent calc((100vw + 1700px) / 2), 
        rgba(0, 0, 0, 0) calc((100vw + 1700px) / 2), 
        rgba(0, 0, 0, 0.9) calc((100vw + 1700px) / 2 + 100px),
        black calc((100vw + 1700px) / 2 + 100px), 
        black 100vw 
      );
            /* background: linear-gradient(to right, black calc((100vw - 1600px)/2) , transparent calc((100vw - 1600px)/2 + 1600px), black  ); */
      /* background:
      radial-gradient(circle, rgba(0,0,0,0) 55%, rgba(0,0,0,1)),
      linear-gradient(to right, black , transparent 10%, black); 
     */
    
    }
  }